*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    overflow-x:hidden;
}

.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}

header{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  background:#fff;
  box-shadow:0 2px 15px rgba(0,0,0,0.06);
  background-color: #f1b7c398;
  backdrop-filter: blur(10px);
}

.navbar{
    height:90px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
  font-size:42px;
  color:#7c4c4c;
  line-height:0.9;
 font-family:cursive;
  font-weight:700;
}

.logo a{
  display:flex;
  align-items:center;
  gap:12px;
  color:inherit;
  text-decoration:none;
}

.logo img{
  width:180px;
  height: 80px;
  object-fit:contain;
}

.brow {
  width: auto;  
  height: 75px;    
}

.nome{
  max-width:480px;
  width:480px;
}

.logo span{
  line-height:0.9;
}

.logo a, 
.logo a:visited, 
.logo a:hover, 
.logo a:active, 
.logo a:focus {
    color: inherit;
    text-decoration: none; 
}

.menu{
  display:flex;
  gap:35px;
  align-items:center;
}

.menu a{
  color:#6f5a5a;
  font-size:14px;
  font-weight:500;
  transition:.3s;
}

.menu a:hover{
  color:#d97a95;
}

.btn{
  background:#d97a95;
  color:white !important;
  padding:14px 26px;
  border-radius:40px;
  font-size:14px;
  transition:.3s;
  display:inline-block;
  border:none;
  cursor:pointer;
}

.btn:hover{
  background:#bf5f7c;
  transform:translateY(-2px);
}

.menu-mobile{
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
}

.shop-home{
padding:100px 0;
background:#fff5f7;

}

.shop-container{

display:grid;
grid-template-columns:2fr 1fr;
gap:30px;

}

.shop-products{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;

}

.shop-card{

background:white;
padding:20px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.06);

}

.shop-card img{

height:220px;
object-fit:cover;
border-radius:15px;
margin-bottom:15px;

}

.shop-card h3{

font-size:28px;
margin-bottom:10px;
color:#6d3f3f;

}

.shop-card p{

margin-bottom:20px;
font-weight:600;
color:#d97a95;

}



.cart{

background:white;
padding:25px;
border-radius:20px;
height:fit-content;
position:sticky;
top:120px;

box-shadow:0 5px 15px rgba(0,0,0,.06);

}

.cart h3{

font-size:30px;
margin-bottom:20px;
color:#6d3f3f;

}

.cart-item{

display:flex;
justify-content:space-between;
padding:12px 0;
border-bottom:1px solid #eee;

}

.cart-total{

font-size:22px;
font-weight:bold;
margin:25px 0;

}

#toast-notificacao {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff5f7;
  color: #6d3f3f; 
  padding: 16px 28px;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 10px 30px rgba(109, 63, 63, 0.15);
  border-left: 6px solid #d97a95; 
  z-index: 2000; 
  transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

#toast-notificacao.mostrar {
  bottom: 30px; 
}

@media (max-width:768px){

    /* HEADER */

    .navbar{
        height:75px;
        padding:0 20px;
    }

    .nome{
        display:none;
    }

    .brow{
        height:50px;
    }

    /* BOTÃO HAMBÚRGUER */

    .menu-mobile{
        display:flex;
        justify-content:space-between;
        width:30px;
        height:22px;
        z-index:1001;
    }

    /* MENU */

    .menu{
        position:fixed;
        top:75px;
        right:-100%;
        width:250px;
        height:100vh;
        background:#fff;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;
        gap:25px;
        padding-top:40px;
        transition:.4s;
        box-shadow:-8px 0 20px rgba(0,0,0,.1);
    }

    .menu.active{
        right:0;
    }

    .menu a{
        font-size:16px;
    }

    .btn{
        width:85%;
        text-align:center;
    }

    /* LOJA */

    .shop-container{
        grid-template-columns:1fr;
    }

    .shop-products{
        grid-template-columns:1fr;
    }

    .cart{
        position:relative;
        top:0;
        margin-top:25px;
    }

}